<!DOCTYPE html>
<html>
<head>
    <title>My App</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .navbar {
            background-color: #333;
            overflow: hidden;
            color: white;
            padding: 14px 20px;
        }
        .navbar a {
            float: left;
            display: block;
            color: white;
            text-align: center;
            padding: 14px;
            text-decoration: none;
        }
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px 0;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <a href="/api/restaurants">Home</a>
        <a href="/">Register</a>
        <a href="/login">Login</a>
        <a href="/api/restaurants/searchbyid">Search By ID</a>
        <a href="/api/restaurants/new">Add Restaurant</a>
        <a href="/api/restaurants/update">Update Restaurant</a>
        <a href="/api/restaurants/deletebyid">Delete Restaurant</a>
        <a href="/api/restaurants/top">Borough Soring</a>
        <a href="/logout">Logout</a>
    </div>

    {{{body}}}

    <div class="footer">
        <p>Copyright © 2023 My App</p>
    </div>
</body>
</html>
