<head>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <h1>Add Restaurant</h1>
    <form action="/api/restaurants" method="post">
        <input type="hidden" name="token" value="{{token}}">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="borough">Borough:</label><br>
        <input type="text" id="borough" name="borough"><br>
        <label for="cuisine">Cuisine:</label><br>
        <input type="text" id="cuisine" name="cuisine"><br>
        <label for="building">Building:</label><br>
        <input type="text" id="building" name="building"><br>
        <label for="street">Street:</label><br>
        <input type="text" id="street" name="street"><br>
        <label for="zipcode">Zipcode:</label><br>
        <input type="text" id="zipcode" name="zipcode"><br>
        <label for="restaurant_id">Restaurant ID:</label><br>
        <input type="text" id="restaurant_id" name="restaurant_id"><br>
        <input type="submit" value="Add Restaurant">
    </form>
</body>
