<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <form action="/api/restaurants" method="get">
        <label for="page">Page:</label><br>
        <input type="number" id="page" name="page"><br>
        <label for="perPage">Per Page:</label><br>
        <input type="number" id="perPage" name="perPage"><br>
        <label for="borough">Borough:</label><br>
        <input type="text" id="borough" name="borough"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
