<!-- restaurantsOutput.hbs -->
<!DOCTYPE html>
<html>
<head>
    <title>Restaurant Results</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <h1>Restaurant Results</h1>
    {{#if restaurants.length}}
        <ul>
            {{#each restaurants}}
                <li>{{this.name}} - {{this.borough}} - {{this.cuisine}}</li>
            {{/each}}
        </ul>
    {{else}}
        <p>No restaurants found.</p>
    {{/if}}
</body>
</html>
