/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    background-image: url('../image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 15px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar nav ul li {
    margin-right: 20px;
}

.navbar nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.navbar nav ul li a:hover {
    color: #ffd700;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
}
